doc/html
doc/latex

build*/
subprojects/*/*
!subprojects/packagefiles/
!subprojects/packagefiles/**
*.Main.hs
history.txt
win64-cross.txt

.vscode
.cache/

#-------- Backups --------
*.orig
.#*        
*~
\#*#
