.filename {
	font-family: courier, monospace;
}

.command {
    font-weight: bold;
}

.guilabel {text-decoration: underline;font-style:italic }

.prompt {
    font-weight: bold;
    text-decoration: underline;
    color: green;

    // Allow copy-paste on commands w/o selection the prompt
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.userinput { background-color: #F0F0F0;}

.note {
	border: solid;
	border-width: 2px;
	border-color: green;
	padding-left: 15px;
	padding-right: 15px;
}

code { margin: 0; padding: 0}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.programlisting {
    background-color: #F3F3E0;

//    border: solid green;
    margin: 0;
	margin-left: 3em;

	padding: 0.5em;
	padding-left:1em;
}

pre.screen {
	background-color: #F0F0F0;
	padding: 6px;
}

.application {font-family: Courier New; font-style: italic;}

tr { margin: 0.2em; padding: 0.2em; }
 
.variablelist {
	background-color: #F0F0F0;
	padding: 6px;
}

.variablelist tr { margin: 0.2em;padding: 0.2em;}

.variablelist td { vertical-align:top; padding-top: 0.3em;padding-bottom:0.3em;}

table td { vertical-align:top; padding: 0.5em;}

/* Save some space */
table td p { padding: 0; margin: 0}

/* Save space for term list */
table td .variablelist {padding: 0; margin: 0}

table td .variablelist table {padding: 0; margin: 0}

table td .variablelist table tr {padding: 0; margin: 0}

table td .variablelist table tr td {padding: 0; margin: 0} 

/* End term list stuff */

td { background-color: #F0F0F0;  }

.toc {
	background-color: #F0F0F0;
	padding: 6px;
}

.term { font-weight: bold;
	padding-right: 2em;
        }

.equation { margin: 0.2em; padding: 0.2em; }

.equation {  text-align:center; }

.vector { font-weight: bold }

td > p { margin: 0; padding:0;}

p + p { margin-top: 0.8em; }

div.example { 
              border: solid; 
              border-width: 1px;
              background-color: #E0F0FF;
              padding-left: 10px;
              padding-right: 10px;
}
