.filename {
	font-family: courier, monospace;
}

.command, .prompt {
	font-weight: bold;
}

.note {
	border: solid;
	border-width: 2px;
	border-color: green;
	padding-left: 15px;
	padding-right: 15px;
}

pre.programlisting {
	background-color: #F4F4F4;
	padding: 6px;
}

.application {font-family: Courier New; font-variant: small-caps;}

.variablelist {
	background-color: #F4F4F4;
	padding: 6px;
}

.toc {
	background-color: #F4F4F4;
	padding: 6px;
}

.term { font-weight: bold;
	padding-right: 2em;}

