Source: bali-phy
Section: science
Priority: extra
Maintainer: Benjamin Redelings <benjamin.redelings@duke.edu>
Build-Depends: cdbs, debhelper (>= 5), autotools-dev,
  libboost-filesystem-dev, libboost-program-options-dev, libboost-dev,
  libboost-chrono-dev, libboost-random-dev, libboost-system-dev
Standards-Version: 3.7.2
Vcs-Git: git://github.com/bredelings/BAli-Phy.git
Vcs-Browser: http://github.com/bredelings/BAli-Phy
Homepage: http://www.bali-phy.org/

Package: bali-phy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: perl, make
Suggests: seaview, gnuplot, muscle
Description: Bayesian joint estimation of phylogeny and alignments
 BAli-Phy uses Markov chain Monte Carlo (MCMC) integration to
 approximate posterior probabilities. 
 .

